/* Global styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #000;
}

/* Header */
header {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
    display: flex;
}

nav li {
	display: flex;
	margin-left: 40px;
}

nav a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover {
	color: #ccc;
}

/* Main content */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	margin-top: 0;
}

ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol li {
	margin-bottom: 10px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

form {
	max-width: 600px;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 10px;
	border-radius: 5px;
	border: none;
	width: 100%;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #ccc;
	color: #000;
}

/* Footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}
